/* app css stylesheet */

/*Overiding placeholder colors*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #666;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.carousel-inner > .item {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);         
}

#carousel-testimonials{
  text-align: center;
}